# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
venv/
.env/

# Data
data/
*.csv
*.json

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Training outputs/checkpoints
outputs/
subtask1/
subtask1_bert/
subtask1_deberta/
subtask1_svm/
subtask2/
